.ma-8 {
  margin: 8px;
}

.ma-16 {
  margin: 16px;
}

.mr-auto {
  margin-right: auto;
}

.mr-8 {
  margin-right: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.fz12 {
  font-size: 12px;
}

.gray {
  color: #777;
}