.ma-8 {
  margin: 8px;
}

.ma-16 {
  margin: 16px;
}

.mr-auto {
  margin-right: auto;
}

.mr-8 {
  margin-right: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.fz12 {
  font-size: 12px;
}

.gray {
  color: #777;
}

.tx_bold {
  font-weight: bold;
}

.tx_right {
  text-align: right;
}

.removeTrans {
  transition-duration: 0s !important;
}

.status-a1 {

  &:active,
  &:hover,
  &:focus,
  & {
    border-color: #a4dd12;
    background: #a4dd12;
  }
}

.status-b1,
.status-b2,
.status-b3 {

  &:active,
  &:hover,
  &:focus,
  & {
    border-color: #1890ff;
    background: #1890ff;
  }
}

.status-c1,
.status-c2,
.status-c3 {

  &:active,
  &:hover,
  &:focus,
  & {
    border-color: #ba1e1e;
    background: #ba1e1e;
  }
}