.ma-8 {
  margin: 8px;
}

.ma-16 {
  margin: 16px;
}

.mr-auto {
  margin-right: auto;
}

.mr-8 {
  margin-right: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.fz12 {
  font-size: 12px;
}

.gray {
  color: #777;
}

.timestamp {
  position: fixed;
  bottom: 0;
  left: 0;
  transform: scale(0.8);
  font-size: 10px;
  color: #ddd;
}


// ant component public
.previewList {
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.previewSum {
  padding: 3px;
  color: rgb(203, 21, 21);
  font-weight: bold;
  text-align: right;
}

.slash {
  padding: 0 3px;
}

#NumberCtrl {
  display: flex;

  .ant-input-number {
    width: 50px;
    border-radius: 0px;
  }

  .ant-btn-sm {
    height: auto;
    border-radius: 0px;
    border: none;
    box-shadow: none;
  }
}